<!--
<%= form_tag "/main/command" do %>
  <%= text_field_tag "command", "/search/sof?zoomToPosting=&query=ruby&srchType=A&addTwo=contract&addOne=telecommute&addFour=part-time" %>
  <%= submit_tag "Submit" %>
<% end %>
-->

<% @output.sort_by {|hsh| hsh[:date]}.each do |row| %>
  <p>
    <%= row[:date] %> --
    <%= row[:area] %> --
    <a href='<%= row[:link] %>' target='blank'><%= row[:text] %></a>
  </p>
<% end %>
